<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- JDBC Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <!--<property name="connection.url">jdbc:mysql://localhost:3306/hb_student_tracker?useSSL=false</property>-->
        <!--<property name="connection.username">hbstudent</property>-->
        <!--<property name="connection.password">hbstudent</property>-->

        <property name="connection.url">jdbc:mysql://sql.lukaszziobro.nazwa.pl:3306/lukaszziobro_javaspring?useSSL=false</property>
        <property name="connection.username">lukaszziobro_javaspring</property>
        <property name="connection.password">London.11</property>
        <property name="connection.pool_size">1</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <property name="current_session_context_class">thread</property>
        <property name="c3p0.timeout">0</property>

    </session-factory>

</hibernate-configuration>